@media screen and (max-width: 920px) {
  .other-city-info {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
    .other-city-info {
      grid-template-columns: repeat(3, 1fr);
    }

 }

 @media screen and (max-width: 420px) {
    .other-city-info {
      grid-template-columns: repeat(2, 1fr);
    }

    /* .city-name {
      color: #fff;
      font-size: 80px;
      display: grid;
      margin-top: -20px;
      font-family: 'Rajdhani', sans-serif;
    } */
 }
  