/* JSONP CSS */

@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Rajdhani:wght@300&family=Roboto:wght@100;300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* body {
background-image: url('../images/day.png');
background-repeat: no-repeat;
background-size: cover;

} */

.main-container {
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	background-position: center center;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.main-info {
	text-align: center;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.city-name {
	color: #fff;
	font-size: 120px;

	font-family: 'Rajdhani', sans-serif;
}

.city-type-time {
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-variant: small-caps;
	font-family: 'Rajdhani', sans-serif;
	margin-top: -30px;
}

.temp {
	text-align: center;
	color: #fff;
	font-size: 64px;
	font-variant: small-caps;
	font-family: 'Rajdhani', sans-serif;
	position: relative;
}

.temp-deg {
	font-size: 30px;
	position: absolute;
	top: 10px
}

.current-icon img {
	width: 69px;
	height: 55px;
}


h2{font-weight: bold; color: navy; font-style:italic; text-align: center;
	 padding: 5px; background-color: azure;}

li {
	list-style-type: none; text-align: center; 
	font-size: 1.5em; font-weight: bold; margin: 5px 10px 15px -15px;
}

a{text-decoration: none;}

li hr {border: thin dotted navy;}

.gridArea {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"cityLabel dataCity"
		"tempLabel dataTemp"
		"windLabel dataWind"
		"humLabel dataHum"
		"pressLabel dataPress"
	;
	grid-gap: 5px;
}

hr {border: thick solid navy;}

.cityLabel {grid-area: cityLabel;}
.tempLabel {grid-area: tempLabel;}
.windLabel {grid-area: windLabel;}
.humLabel {grid-area: humLabel;}
.pressLabel {grid-area: pressLabel;}

.dataCity {grid-area: dataCity;}
.dataTemp {grid-area: dataTemp;}
.dataWind {grid-area: dataWind;}
.dataHum {grid-area: dataHum;}
.dataPress {grid-area: dataPress;}

.formatLabel {font-size: 1.5em; font-style: italic; color: navy; text-align: center;}
.formatData {font-size: 1.5em; font-weight: bold; color: navy;}

@media screen and (orientation: portrait) {
	.gridArea {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: 
			"cityLabel" "dataCity"
			"tempLabel" "dataTemp"
			"windLabel" "dataWind"
			"humLabel" "dataHum"
			"pressLabel" "dataPress"
		;
		grid-gap: 5px;
	}	
	.formatLabel {font-size: 2em; font-style: italic; color: navy; text-align: center;;}
	.formatData {font-size: 2em; font-weight: bold; color: navy; text-align: center; margin-bottom: 5px;} 
}