/* JSONP CSS */

@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Rajdhani:wght@300&family=Roboto:wght@100;300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* body {
background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	background-position: center center;

} */

.main-container {
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	background-position: center center;
	display: flex;
	flex-direction: column;
	align-items: center;
}



.main-info {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-top: 50px;
}

.city-name {
	color: #fff;
	font-size: 120px;

	font-family: 'Rajdhani', sans-serif;
}

.city-type-time {
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-variant: small-caps;
	font-family: 'Rajdhani', sans-serif;
	margin-top: -30px;
	border: 1px solid red;
}

.temp {
	text-align: center;
	color: #fff;
	font-size: 64px;
	font-variant: small-caps;
	font-family: 'Rajdhani', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	border: 1px solid red;
}

.deg-type {
	display: flex;
	font-size: 30px;
	align-self: flex-start;
	gap: 5px
}

.deg-c {
	cursor: pointer;
}

.deg-c:hover {
	color: #c3c3c3;
}

.deg-f {
	cursor: pointer;
}

.deg-f:hover {
	color: #c3c3c3;
	opacity: 1;
}

.current-icon {
	margin-bottom: 10px;
	margin-right: 5px;
	width: 70px;
	height: 55px;
}

.selected {
	color: #c3c3c3;
	opacity: 0.4;
}

.divider {
	border: 1px solid rgb(46, 46, 46);
	height: 25px;
	align-self: center;
}

.temp-deg {
	font-size: 30px;

}

.current-icon img {
	width: 69px;
	height: 55px;
}

.feelsLikeTemp {
	margin-top: -10%;
	margin-left: 35%;
	display: flex;
	color: #fff;
}

.feelsLikeTemp p:first-child {
	width: 40px;
}

.feelsLikeTemp p:last-child {
	font-size: 40px;
}

.search {
	height: 40px;
	width: 400px;
	border-top-left-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;
	border-top-right-radius: 20px 20px;
	border-bottom-right-radius: 20px 20px;
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	

}

.search input[type="text"] {
	background-color:rgba(0, 0, 0, 0);
    color:black;
    border: none;
    outline:none;
    height:40px;
	width: 300px;
    transition:height 1s;
    -webkit-transition:height 1s;
	margin-left: 10px;
}

.search #submitButton {
	align-self: center;
	margin-right: 10px;
	cursor: pointer;
}


@media screen and (max-width: 420px) {

	.city-name {
		font-size: 80px;
	}
	
	.city-type-time {
		font-size: 15px;
	}
	
	.temp {
		font-size: 30px;
	}
	
	.deg-type {
		display: flex;
		font-size: 15px;
		align-self: flex-start;
		gap: 5px
	}

	.search {
		width: 350px;		
	}
  }